<div class="fixed top-0 right-0  max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" *ngIf="messageService.messages.length > 0; else noMessages; let messages">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Messages</h2>
    <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="messageService.clear()">Effacer</button>
    <div class="mb-3 font-normal text-gray-700 dark:text-gray-400" *ngFor="let message of messageService.messages" (click)="messageService.clearMessage(message)">{{message}}
    </div>
</div>
<ng-template #noMessages></ng-template>